html{
    background-color: black;
}
h1{
    color: blue;
    font-size: 40px;
    background-color: tomato;
}
h2{
    color: blueviolet;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
}
h3{
    color: hotpink;
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: green;
}
h4{
    color: indigo;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: red;
}
h5{
    color: lawngreen;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blue;
}h6{
    color: lightseagreen;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: violet;
}