<html>

<head>
    <title>TASK2</title>
</head>

<body background="../assets/Images/website-rays-background-pattern-1637863.png">
    <h1 style="font-size: medium;">
        <a href="homepage.html">Homepage</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contacts</a>
        <a href="projects.html">Projects</a>
        <H1>ABOUT</H1>
        <img src="../assets/Images/avatar-icon-images-4.jpg"; width="300px"; height="300px" ;alt="My Avatar">
    </h1>

    <p> Name: Eldar Ibrahimli specialization: programmer, special skills: Programming and perfect english, hobbies: Games </p>

</body>

</html>