<html>

<head>
<link rel="stylesheet" href="../assets/styles/style.css">
</head>






<body background="../assets/images/Webp.net-resizeimage (1).jpg">
    
<a href="../views/Homepage.html">Our Homepage!</a>
<a href="../views/AboutUs.html">About Us!</a>
<a href="../views/OurProducts.html">Our Great Products!</a>
<a href="../views/OurContacts.html">You want to contact us?</a>
<a href="../views/ForEmployees.html">For our emoloyees!</a>

<h1>About our Family and our Superstore!</h1>

<div id="About" >
<img src="../assets/images/Ephoto360.com_161e14dbb5342d.jpg" alt="">
<img src="../assets/images/Ephoto360.com_161e14e24b6d10.jpg" alt="">
<img src="../assets/images/Ephoto360.com_161e14f798f219.jpg" alt="">
<img src="../assets/images/Ephoto360.com_161e14fcea4638.jpg" alt="">
<img src="../assets/images/Ephoto360.com_161e15001c842f.jpg" alt="">
<img src="../assets/images/Ephoto360.com_161e15078a70f0.jpg" alt="">
<img src="../assets/images/Ephoto360.com_161e150c171e59.jpg" alt="">
<img src="../assets/images/Ephoto360.com_161e150f7c6071.jpg" alt="">
</div>

<p>Omega Mart is an interactive art installation created by American arts company Meow Wolf and located in the Area15 complex in Las Vegas. Those entering the installation explore a supermarket, from which they can access various other areas and uncover a narrative.</p>



</body>







</html>