<html>

<head>
    <title>TASK2</title>
</head>

<body background="../assets/Images/website-rays-background-pattern-1637863.png">
    <h1 style="font-size: medium;">
        <a href="homepage.html">Homepage</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contacts</a>
        <a href="projects.html">Projects</a>
        <H1>CONTACTS</H1>
    </h1>
    <p>
        <a href="https://mail.google.com/mail/u/0/#sent?compose=new">Mail me: elik.khalilov@gmail.com</a>
        <p></p>
        <a href="https://contacts.google.com/">Call me: +905315244244</a>
    </p>
</body>

</html>