<html>

    <head>
    <title>TASK4_SPECIAL</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    </head>




<body background="../assets/images/Webp.net-resizeimage (1).jpg" >
    <form action="../views/Login.html">

    <img src="../assets/images/ezgif.com-gif-maker.gif" alt="First">   
    

    <audio controls autoplay>

        <source src="../assets/Audio/Omega Mart Commercials (online-video-cutter.com) (1).mp3" type="audio/mpeg">
        <source src="../assets/Audio/Omega-Mart-Commercials-_online-video-cutter.com_-_1_.ogg" type="audio/ogg">
      </audio>

      <input type="submit">Join our family!</input>

    </form>  

</body>



</html>

