<html>

<head>
<link rel="stylesheet" href="../assets/styles/style.css">
</head>






<body background="../assets/images/Webp.net-resizeimage (1).jpg">
    
<a href="../views/Homepage.html">Our Homepage!</a>
<a href="../views/AboutUs.html">About Us!</a>
<a href="../views/OurProducts.html">Our Great Products!</a>
<a href="../views/OurContacts.html">You want to contact us?</a>
<a href="../views/ForEmployees.html">For our emoloyees!</a>

<h1>Complete course of our training videos!</h1>


<video id="Employees" style="height: 600px; width: 1000px;" controls>
    <source src="../assets/Videos/Omega Mart Employee Training Video - Complete Course [FULL VIDEO] (1).mp4" type="video/mp4">
</video>

<p>Best products in world!</p>

</body>







</html>